<div class="contraction-table mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
      <mat-cell *matCellDef="let contraction"> {{contraction.startTime | date:'hh:mm:ssa' | lowercase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
      <mat-cell *matCellDef="let contraction"> {{contraction.duration | date:'mm'}}m {{contraction.duration | date:'ss'}}s </mat-cell>
    </ng-container>

    <ng-container matColumnDef="interval">
      <mat-header-cell *matHeaderCellDef> Interval </mat-header-cell>
      <mat-cell *matCellDef="let contraction"> {{contraction.interval | date:'mm'}}m {{contraction.interval | date:'ss'}}s </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
