.contraction-table {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-header-cell:not(:first-child), .mat-cell:not(:first-child) {
  text-align: end;
}